*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Smythe", cursive;
  font-style: normal;
  line-height: 1.5;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.container {
  /* min-width: 250px; */
  background-color: #fff;
  margin: 0 auto;
  min-width: 250px;
  max-width: 600px;
}
.header-container {
  background-image: url(ferks-guare-KEZdWfYD-ow-unsplash\ 1.png);
  background-size: cover;
  background-color: #393333;
  width: 100%;
  padding: 0;
  color: #fdc32f;
  text-shadow: 1px 1px 3px wheat;
  display: flex;
  height: 200px;
  align-items: center;
}
.intro {
  padding: 2em;
}
.intro-title {
  font-size: 3rem;
  margin: 0;
}

.intro-subtitle {
  font-size: 1.5rem;
  margin: 0;
}

/* =======================
            Menu
========================== */

.items {
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: -0.02em;
  border-bottom: 1px solid #d2d2d2;
  text-align: center;
  margin: 0 auto;
}
.item-img {
  font-size: 5rem;
}
.item-details {
  margin-left: 4em;
  text-align: left;
}
.item-title {
  font-size: 1.75rem;
  margin-bottom: 0;
  color: #000000;
}
.item-ingredients {
  font-size: 1.2rem;
  color: #8b8b8b;
}
.item-price {
  font-size: 1.5rem;
  color: #000000;
}
.item-btn {
  font-weight: 200;
  font-size: 2rem;
  border: 1.5px solid #dedede;
  border-radius: 50%;
  width: 50px;
  text-align: center;
  margin-left: 6em;
  color: #3c3c3c;
  background-color: #ffffff;
  cursor: pointer;
}
.item-btn:active {
  box-shadow: inset 1.5px 1.5px 5px -1.5px rgba(0, 0, 0, 0.7);
}
.item-btn:hover {
  background-color: #f4f4f4;
}

/* =======================
            order
========================== */
.hidden {
  display: none;
}
.order-container {
  width: 95%;
  font-size: 1.75rem;
  color: #000000;
  margin: 0 auto;
}
.order-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}
.ordered-items {
  max-width: 90%;
  margin: 0 auto;
}

.order-title {
  text-align: center;
}

.order-total {
  border-top: 2px solid #393333;
  max-width: 90%;
  margin: 0 auto;
}
.remove-item-btn {
  border: none;
  background-color: #fff;
  color: #bbbbbb;
  margin-left: 0.3em;
  padding: 0.5em;
  cursor: pointer;
}

span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 24px;
  color: #bbbbbb;
  margin-left: 0.2em;
}
.btn {
  background: #16db99;
  border-radius: 3px;
  width: 90%;
  height: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.75);
  border: none;
  display: block;
  margin: 2em auto;
  cursor: pointer;
}

/* =======================
            Modal
========================== */

.modal-container {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ffffff;
  text-align: center;
  width: 524px;
  height: 500px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  width: 524px;
  height: 542px;
  border-radius: 4px;
  box-shadow: 5px 5px 255px #000000;
  display: none;
}
input {
  max-width: 90%;
  display: block;
  margin: 1em auto;
  width: 500px;
  height: 71.3px;
  border: 2px solid #757575;
  border-radius: 3.88991px;
  padding-left: 1.5em;
}

/* =======================
            Media QUery
========================== */

@media (min-width: 800px) {
  .container {
    width: 90%;
  }
  .header-container {
    height: 300px;
  }
  .intro {
    padding: 6em;
    font-weight: bold;
  }
  .intro-title {
    font-size: 4.5rem;
  }

  .intro-subtitle {
    font-size: 3rem;
  }
  .item-details {
    margin: 0;
  }
}
